# .github/workflows/firebase-deploy.yml

name: Compilar e Fazer Deploy para o Firebase

on:
  push:
    branches:
      - main # Ou 'master', dependendo da sua branch principal

jobs:
  compilar_e_fazer_deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Baixa o código do seu repositório
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      # 2. Configura o Node.js e instala dependências do projeto React
      - name: Configurar Node.js e Instalar Dependências
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      
      # 3. Compila o projeto React (cria a pasta 'dist'). O Vite automaticamente copia o conteúdo da pasta 'public' para 'dist'.
      - name: Compilar o Projeto
        run: npm run build

      # 4. Instala as dependências da Cloud Function
      - name: Instalar Dependências da Função
        run: npm install --prefix functions

      # 5. Faz o deploy para o Firebase Hosting e Functions
      - name: Fazer Deploy para o Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TOKEN }}'
          projectId: brunonascimento-fotografia
          channelId: live