# .github/workflows/firebase-deploy.yml

name: Compilar e Fazer Deploy para o Firebase

on:
  push:
    branches:
      - main

jobs:
  compilar_e_fazer_deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Clona o repositório
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      # 2. Configura o ambiente Node.js
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3. Instala dependências, compila o projeto e instala dependências das functions
      - name: Instalar dependências e compilar
        run: |
          npm install
          npm run build
          npm install --prefix functions

      # 4. Faz o deploy para o Firebase (Hosting e Functions)
      - name: Fazer Deploy para o Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TOKEN }}'
          projectId: brunonascimento-fotografia
